<!DOCTYPE html>
<html lang="en">
<head>
   {{ encore_entry_link_tags('app') }}
   {{ encore_entry_script_tags('app') }}
    <title>Authentification de cavp | Paositra Malagasy </title>
</head>
<body> 
    <div class='content-login-custom'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    {% if error %}
                        <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="containerLog mb-5">
                        <div class="headerLog">
                            <img loading="lazy" width="125" src="{{ asset('build/images/LOGOpaositra.png') }}" class="img-fluid mt-1"/>
                        </div>
                        <div class="mainLog">
                            <form method="post">
                                <span class="textbox">
                                    <i class="fa fa-circle-user" aria-hidden="true"></i>
                                    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" placeholder="Username" required />
                                </span><br>
                                <span class="textbox">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" name="password" id="inputPassword" autocomplete="current-password" placeholder="Password" required />
                                </span><br>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                <button class="button"type="submit">Connexion</button>
                            </form>
                            <p class="mb-4 pb-lg-2 contact"> 
                                <a href="{{ path('guide', {'source':'guide_utilisation'}) }}" > Mode d'utilisation</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>