<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Authentification de cavp | Paositra Malagasy </title>
   {{ encore_entry_link_tags('app') }}
   {{ encore_entry_script_tags('app') }}
</head>
<body>
    <section class="vh-100" style="background-color: #ffffff;" >
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="col-lg-6 col-sm-6" >
                        <div class="box-element card card-solid" style="margin: 0% 0% 10% 50%;width: 400px;text-align: center;">
                            <div class="card card-body" >
                                <form method="post">
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i style="color: #444; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
                                        <span class="h3 fw-bold mb-0" style="color:#e3151a;margin: 2px auto;">
                                            <img src="{{ asset('build/images/logo-PPT.webp') }}" width="60" height="70">Paositra malagasy
                                        </span>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control validate" autocomplete="email" placeholder=" Adresse email" required
                                            style="border: 2px solid #999999;border-radius: 14px;;text-align: center;margin: 5px auto;cursor: pointer;height: 35px;width: 300px;"/>                                         
                                    </div>
                                    <hr style="color: red;"></hr>
                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" id="inputPassword" class="form-control validate" autocomplete="current-password" placeholder="Password" required
                                            style="border: 2px solid #999999;text-align: center;margin: 5px auto;border-radius: 14px;cursor: pointer;height: 35px;width: 300px;"/>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                    {#
                                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                        See https://symfony.com/doc/current/security/remember_me.html

                                        <div class="checkbox mb-3">
                                            <label>
                                                <input type="checkbox" name="_remember_me"> Remember me
                                            </label>
                                        </div>
                                    #}
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-danger btn-lg btn-block" type="submit" style="border: 2px solid #fff;margin: 5px auto;text-align: center;border-radius: 24px;width: 300px;">Connexion</button>
                                    </div>
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? 
                                        <a href="{{ path('page_inscription') }}" style="color:#498000; text-decoration:none;">Register here</a>
                                        </p>
                                </form>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </section>
</body>
</html>
 