<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <style>
            table,tr,th,td {
                    border: 2px solid black;
                }
            #arret{
                margin-top: 15px;
                font-family: italic;
            }
        </style>
        <title>Situation générale CAVP-{{ month}}-{{ year}}</title>
    </head>
    <body onload="window.print()">
        {# ##################################    Dictionaire de l'annee ##################################################}
        {% set mois = {'01' : 'Janvier','02' : 'Fevrier','03' : 'Mars','04' : 'Avril','05' : 'Mai','06' : 'Juin','07' : 'Juillet','08' : 'Aout', '09' : 'Septembre','10' : 'Octobre','11' : 'Novembre','12' : 'Décembre' } %}
        {##################################################################################################################}
    <main>
        {% if app.user %}
    <div class="container-fluid p-2">
        <h4 class="fw-bold text-center">Situation Générale de la situation des stocks des Valeurs Postales, Mois du {{ mois[month] }} {{ year }}</h4>
        <div class="table responsive-xxl">
            <table class="table table-striped" id="myTablet">
                <thead>
                    <tr class="table-titre">
                        <th>Produits</th>
                        <th>Stock initial quantité</th>
                        <th>Stock initial valeur</th>
                        <th>Produits recus quantité</th>
                        <th>Produits recus valeur</th>
                        <th>Produits sortis quantité</th>
                        <th>Produits sortis valeur</th>
                        <th>Stock final quantité</th>
                        <th>Stock final valeur</th>
                    </tr>
                </thead>
                <tbody>
                {% set sumQuantInt = 0 %}
                {% set sumValueInit = 0 %}
                {% set sumQuantEntrer = 0 %}
                {% set sumQuantCurrent = 0 %}
                {% set sumActuel = 0 %}
                {% set sumQuantSortie = 0 %}
                {% set sumValSortie = 0 %}
                {% set sumValRRecus = 0 %}
                {% for key,value in courant %}
                    <tr>
                        {% for key2, value2 in value %}             
                            {% if key2 =='nomProduit' %}
                                <td> {{ value2 }} </td> 
                            {% elseif key2 =='quantite_init' %}
                                {% set valeur = initial[key][0] %}
                                {% set sumQuantInt = sumQuantInt + valeur %} 
                                <td> {{ valeur|number_format(0,',', ' ') }} </td> 
                            {% elseif key2 =='valeur_init' %}
                                {% set valeur = init[key]['prix_net'] %}
                                {% set sumValueInit = sumValueInit + valeur %} 
                                <td> {{ valeur|number_format(0,',', ' ') }} </td> 
                            {% elseif key2 =='qunad_recus' %}
                                {% set valeur = quantiteEntrer[key][0] - initial[key][0] %}
                                {% set sumQuantEntrer = sumQuantEntrer + valeur %} 
                                <td> {{ valeur|number_format(0,',', ' ') }} </td> 
                            {% elseif key2 =='val_recus' %}
                                {% set valeur = valeurEntrer[key][0] - init[key]['prix_net'] %}
                                {% set sumValRRecus = sumValRRecus + valeur %}
                                <td> {{ valeur|number_format(0,',', ' ') }} </td> 
                            {% elseif key2 =='quantite_sortie' %}
                                {% if quantiteOut is empty %}
                                    {% set valeur = 0 %}
                                    {% set sumQuantSortie = sumQuantSortie + valeur %} 
                                    <td> {{ valeur|number_format(0,',', ' ') }} </td>
                                {% else %}
                                    {% set valeur = quantiteOut[key][0]|abs %}
                                    {% set sumQuantSortie = sumQuantSortie + valeur %} 
                                    <td> {{ valeur|number_format(0,',', ' ') }} </td> 
                                {% endif %}
                            {% elseif key2 =='val_sortie' %}

                                    {% if valueOut is empty %}
                                        {% set valeur = 0 %}
                                        {% set sumValSortie = sumValSortie + valeur %} 
                                        <td> {{ valeur|number_format(0,',', ' ') }} </td> 
                                {% else %}
                                    {% set valeur = valueOut[key][0]|abs %}
                                    {% set sumValSortie = sumValSortie + valeur %} 
                                    <td> {{ valeur|number_format(0,',', ' ') }} </td> 
                                {% endif %}
                            {% elseif key2 =='quantite_actuelle' %}
                                {% set valeur = courant[key]['quantite_actuelle'] %}
                                {% set sumQuantCurrent = sumQuantCurrent + valeur %} 
                                <td> {{ valeur|number_format(0,',', ' ') }} </td>
                            {% elseif key2 =='value_actuelle' %}
                                {% set valeur = courant[key]['prix_net'] %}
                                {% set sumActuel = sumActuel + valeur %} 
                                <td> {{ valeur|number_format(0,',', ' ') }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                   <tfoot>
                        <tr>
                            <th>
                                Totales(Valeur)
                            </th>
                            <th>
                                {{ sumQuantInt|number_format(0,',', ' ') }}
                            </th>
                            <th>
                                <span style="display:none" id="sumI" > {{  sumValueInit }}</span>
                                {{ sumValueInit|number_format(0,',', ' ') }}
                            </th>
                            <th>
                                {{ sumQuantEntrer|number_format(0,',', ' ') }}
                            </th>
                            <th>
                                <span style="display:none" id="sumE" > {{  sumValRRecus }}</span>
                                {{ sumValRRecus|number_format(0,',', ' ') }}
                            </th>
                            <th>
                                {{ sumQuantSortie|abs|number_format(0,',', ' ') }}
                            </th>
                            <th>
                                <span style="display:none" id="sumS" > {{  sumValSortie }}</span>
                                {{ sumValSortie|number_format(0,',', ' ') }}
                            </th>
                            <th>
                                {{ sumQuantCurrent|number_format(0,',', ' ') }}
                            </th>
                            <th>
                                <span style="display:none" id="sumA" > {{  sumActuel }}</span>
                                {{ sumActuel|number_format(0,',', ' ') }}
                            </th>
                        </tr>
                    </tfoot>
                </tbody>
            </table>
            <div>
                <p>Arreté à la valeur initiale de : <span class="text-uppercase" id="init"> </span> ARIARY<p>
                <p>Arreté à la valeur entrée de : <span class="text-uppercase" id="enter"> </span> ARIARY<p>
                <p>Arreté à la valeur Sortie de : <span class="text-uppercase" id="out"> </span> ARIARY<p>
                <p>Arreté à la valeur actuelle de : <span class="text-uppercase" id="current"> </span> ARIARY<p>
            </div>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
                <p>
                    Antananarivo le ,{{ 'now' |format_date(locale='fr') }}
                </p>
                <p>
                    <span>
                        Chef de  Centre d'Approvisionnement en Valeurs Postales
                    </span>
                </p>
            </div>
        </div>
    </div>
    {% else %}
        <h1>Page not found 404
        </h1>
        <p>
            The requested page couldn't be located. Checkout for any URL misspelling or
            <a href="{{ path('app_login') }}">return to the authentification
            </a>.
        </p>
    {% endif %}
    
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}  
</main>
 </body>
</html>