{% extends 'base.html.twig' %}

{% block title %} Mouvement entrer sortie de CAVP | Paositra Malagasy{% endblock %}

{% block body %}

    <h3 class="h3">Mouvementr entrer/Sortie de CAVP </h3>
         <input id="myInput" type="text" placeholder="Search.."> <i class="fas fa-search"></i>
        {{ mouvements|length }} lignes  
    <div class="d-flex flex-row-reverse bd-highlight">
        <a href="{{ path('mouvement_controller_crud_new') }}"  class="btn btn-secondary" >Creer un mouvement Entrer Sortie</a>
    </div>
    <div class="table responsive">
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th>Produits </th>
                    <th>Catégories</th>
                    <th>Types</th>
                    <th>Descriptions</th>
                    <th>Agences</th>
                    <th>References</th>
                    <th>Chef responsables</th>
                    <th>Date</th>
                    <th>Quantité</th>
                    <th>numero de sortie</th>
                </tr>
            </thead>
            <tbody id="myTable">
            {% for mouvement in mouvements %}
                <tr>
                    <td>{{ mouvement.product }}</td>
                    <td>{{ mouvement.categorie }}</td>
                    <td>{{ mouvement.types }}</td>
                    <td>{{ mouvement.desccriptions }}</td>
                    <td>{{ mouvement.destination }}</td>
                    <td>{{ mouvement.reference }}</td>
                    <td>{{ mouvement.user }}</td>
                    <td>{{ mouvement.dat|date('Y-m-d') }}</td>
                    <td>{{ mouvement.nombre|abs }}</td>
                    <td>
                        <a href="{{ path('mouvement_controller_crud_show', {'id': mouvement.id}) }}">Detail</a>
                        <a href="{{ path('mouvement_controller_crud_edit', {'id': mouvement.id}) }}">Modifier</a>   
                        <form method="post" action="{{ path('mouvement_controller_crud_delete', {'id': mouvement.id}) }}" onsubmit="return confirm('Vous etes sur pour supprimer');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mouvement.id) }}">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div> 
{% endblock %}
