{% extends 'base.html.twig' %}

{% block title %} Operation entrées sorties | Paositra Malagasy{% endblock %}

{% block body %}
    <main>
        {% if app.user %}
            <div class="row" >
                <div class="col-12">
                    <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.2); background-color: #e5eecf;">
                        <div class="q-container p-4">
                            <div class="row">
                                <div class="col">
                                    <span class="head"> {% block titre %}Operation entrer/Sortie de CAVP{% endblock %}</span>
                                    <div class="float-end">
                                        {% set isSubmit = "false"%}
                                        <a href="{{ path('mouvement_controller_crud_new') }}"  class="btn btn-primary btn-sm m-3" >Creer une operation</a>
                                    </div>
                                    <span class=" p-1 select"> Nombres totales d'operations : {{ mouvements|length }} lignes </span>
                                    <div class="table responsive-xxl">
                                        <table class="table_crud display table table-bordered table-hover">
                                            <thead>
                                                <tr class="table-titre">
                                                    <th>Produits </th>
                                                    <th>Catégories</th>
                                                    <th>Types</th>
                                                    <th>Descriptions</th>
                                                    <th>Destination/Reference</th>
                                                    <th>Chef responsables</th>
                                                    <th>Date</th>
                                                    <th>Quantité</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for mouvement in mouvements %}
                                                    <tr>
                                                        <td>{{ mouvement.product }}</td>
                                                        <td>{{ mouvement.categorie }}</td>
                                                        <td>{{ mouvement.types }}</td>
                                                        <td>{{ mouvement.desccriptions }}</td>
                                                        <td>{{ mouvement.destination }}</td>
                                                        <td>{{ mouvement.user }}</td>
                                                        <td>{{ mouvement.dat|date('Y-m-d') }}</td>
                                                        <td>{{ mouvement.nombre|abs }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>Page not found 404 </h1>

            <p>
                The requested page couldn't be located. Checkout for any URL
                misspelling or <a href="{{ path('app_login') }}">return to the authentification </a>.
            </p>
        {% endif %} 
    </main>
{% endblock %}
