 {% extends "base.html.twig" %}
{% block title %} Listes utilisateurs{% endblock %}
{% block head_page %} <i class="fa fa-users" aria-hidden="true"></i> Listes utilisateurs{% endblock %}
 {% block main %}
    <div class="q-container">
        <div class="row">
            <div class="col-md-12">
                <div class="row m-2">
                    <div class="col-md-12 mb-2">
                        <div style="display: flex; justify-content:flex-end;">
                            <a href="{{ path('page_inscription') }}"><button class="btn btn-primary btn-sm">Créer un utilisateur </button></a>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-md-12">
                        <table  id="config-table" class="display table table-bordered table-hover">
                            <thead>
                                <tr class="table-titre">
                                    <th class="title fw-bold">Nom </th>
                                    <th class="title fw-bold">Prenom </th>
                                    <th class="title fw-bold">Adresse </th>
                                    {# <th class="title fw-bold">Roles </th> #}
                                    <th class="title fw-bold">Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td> {{ user.nom }}</td> 
                                    <td>{{ user.prenom }}</td>
                                    {# <td>{{ user.adresse }}</td> #}
                                    <td>{{ user.adresse }}</td>
                                    <td>
                                        <div class="row data-actions">
                                            <div class="col-md-6">
                                                <a href="{{ path('app_user_edit',{id : user.id}) }}">
                                                    <button class="btn btn-primary btn-sm"> Modifier </button>
                                                </a>
                                            </div>
                                            <div class="col-md-6">
                                            {% include "register/_delete.html.twig" %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>  
                </div>  
            </div>  
        </div>
    </div>
{% endblock %}