{% extends 'base.html.twig' %}

{% block title %}Compte rendu | Paositra Malagasy
{% endblock %}

{% block body %}
	<main>
		{% if app.user %}
		<div class="row">
			
			{% if description == "" %}
				<h2 class="fw-bolder text-center">Compte rendu des produits </h2>
			{% elseif description == 1 %}
				<h2 class="fw-bolder text-center">Compte rendu produits entrées </h2>
			{% elseif description == 2 %}
				<h2 class="fw-bolder text-center">Compte rendu produits Reintegrées </h2>
			{% elseif description == 3 %}
				<h2 class="fw-bolder text-center">Compte rendu produits Sorties </h2>
			{% endif %}
			<div class="col">
				<span class="float-start">
					<div class="dropdown">
						<a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
							Types d'opreations
						</a>

						<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<li>
								<a class="dropdown-item" href="{{ path('history', {'source':'tous les produits par categorie'}) }}">Tous</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('history',{description: 1}) }}">Entrées</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('history', {description: 2}) }}">Reintegrées</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('history', {description: 3}) }}">Sorties</a>
							</li>
						</ul>
					</div>
				</span>
			</div>
			<div class="col">
				<form action="{{ path('history') }}" class="float-end">
					<label for="ldate">Preciser le mois :</label>
					<input type="month" id="ldate" name="ldate">
					<input type="submit" value="Trier" class="btn btn-danger btn-sm"/>
				</form>
			</div>
		</div>
			
		<div class="row">
			{% for histo in history%}
				<div class="col-lg-4 col-sm-6">
					<div class="box-element card card-solid" style="margin: 20px;width: 400px; height:380px">
						<div class="card card-body">
							<h4 style="display: flex;"><img src="{{ asset('build/images/calendrier.png') }}" width="30" height="35">
								:
								<span class="text-uppercase" style="color:#498000;">
									{{ histo.dat|format_date(locale='fr') }}

								</span>
							</h4>
							<p>
								<i class='fas fa-coins' class="admin"></i>
								produits :
								<span style="color:#498000;">{{ histo.product }}</span> (<span style="color:#498000;">{{ histo.types_order }}</span>)
								<br/><br/>
								<i class="far fa-anchor"></i>
								Categorie :
								<span style="color:#498000;">{{ histo.categorie }}</span>
								<br/><br/>
								Action :
								<span style="color:#498000;">{{ histo.types }}</span>
								<br/><br/>
								{% if histo.desccriptions == "Sorties des Catégories" %}
									<u>Nombre de categorie(s) sortie(s) : </u>
										<span style="color:#498000;">{{ histo.nombre|abs }}</span>
										<br/><br/>
								{% elseif histo.desccriptions == "Ajouter des nouveaux Catégories" %}
									<u>Nombre de categorie(s) ajoutée(s) : </u>
										<span style="color:#498000;">{{ histo.nombre|abs }}</span>
										<br/><br/>
								{% elseif histo.desccriptions == "Réintegration" %}
									<u>Nombre de categorie(s) integrer au CAVP : </u>
										<span style="color:#498000;">{{ histo.nombre|abs }}</span>
										<br/><br/>
								{% endif %}
								{% if histo.desccriptions == "Ajouter des nouveaux Catégories" %}
									vient du bureau :
									<span style="color:#498000;">{{ histo.destination }}</span>
									<br/><br/>
								{% elseif histo.desccriptions == "Réintegration" %}
									revient de  :
									<span style="color:#498000;">{{ histo.destination }}</span>
									<br/><br/>
								{% elseif histo.desccriptions == "Sorties des Catégories" %}
									Destination :
									<span style="color:#498000;">{{ histo.destination }}</span>
									<br/><br/>
								{% endif %}
								{% if histo.types == "sortie"%}
									<a href="{{ path('order_out',{types: histo.types_prod,numero: histo.numero }) }}" class="button margin-right-md margin-bottom-md btn-danger btn-sm">Ordre de sortie →</a>
								{% endif %}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{% else %}
			<h1>Page not found 404
			</h1>
			<p>
				The requested page couldn't be located. Checkout for any URL misspelling or
				<a href="{{ path('app_login') }}">return to the authentification
				</a>.
			</p>
		{% endif %}
	</main>
{% endblock %}
