{% extends 'base.html.twig' %}

{% block title %}Compte rendu des produits entrées | Paositra Malagasy{% endblock %}

{% block body %}


    <div class="clearfix">
        <span class="float-right">
            <span> Les produits:  <span>
            <select name="link" id='' size="1" onchamge="window.location.href=this.value;">
                <option onClick="window.location = '{{ path('history') }}'" >Tous  </option>
                <option onClick="window.location = '{{ path('history_enter') }}'" >Entrées</option>
                <option onClick="window.location = '{{ path('integreted') }}'" >Reintegrées</option>
                <option onClick="window.location = '{{ path('history_out') }}'" >Sorties</option>
            </select>
        </span>
    </div>
    <h1 class="q-title"> Compte rendu produits Reintegrées  </h1>
    <a class="nav-link" href="{{ path('precision_date') }}">Preciser la date</a>{{ render(controller('App\\Controller\\HistoriqueController::specify'))}}
    <div class="row">
        {% for histo in history%}
                <div class="col-lg-4 col-sm-6" >
                   <!-- <div style="box-shadow: 7px 7px 10px 0px #afafaf,-10px -10px 20px 0px #F0F0F2; background-color: #BDBDBB;"> !-->
                   <div class="box-element card card-solid" style="margin: 20px;">
                        <div class="card card-body">
                            <h4 style="display: flex;"><img src="/images/calendrier.png" width="30" height="35"> : 
                                <span class="text-uppercase" style="color:#498000;">
                                {{ histo.dat|format_date(locale='fr') }}

                                </span>
                            </h4>
                            <p> <span> <img src="{{ asset('images/shopping-voucher-mail.png') }}" alt="img product" width="25" height="30"></span>produits : <span style="color:#498000;">{{ histo.product }}</span> <p>
                            <p> Categorie : <span style="color:#498000;">{{ histo.categorie }}</span> <p>
                            <p> Action : <span style="color:#498000;">{{ histo.descriptions }}</span> <p>
                            <p><u>Nombre voulu:</u> <span style="color:#498000;">{{ histo.nombre }}</span> <p>
                            <p> Reference : <span style="color:#498000;">{{ histo.reference }}</span> <p>
                            <p> Destination : <span style="color:#498000;">{{ histo.destination }}</span> <p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>>
 
{% endblock %}
