{% extends 'base.html.twig' %}

{% block title %}Compte rendu | Paositra Malagasy
{% endblock %}

{% block body %}
	<main>
		{% if app.user %}
			<div style="background-color: #e5e6e7;">

					<span class="float-end">
						<div class="dropdown">
							<a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
								Types d'opreations
							</a>

							<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<li>
									<a class="dropdown-item" href="{{ path('history', {'source':'tous les produits par categorie'}) }}">Tous</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('history_enter', {'source':'tous les produits entrée par categorie'}) }}">Entrées</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('integreted', {'source':'tous les produits integrés par categorie'}) }}">Reintegrées</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('history_out', {'source':'tous les produits sorties par categorie'}) }}">Sorties</a>
								</li>
							</ul>
						</div>
					</span>
					<h2 class="fw-bolder text-center">
						Compte rendu produits
					</h2>

					<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">
						Preciser la date Ordre de sortie →</button>
					<div class="modal" id="myModal">
						{{ form_start(form) }}
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">
										Preciser la date
									</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
								</div>
								{{ form_start(form) }}
								<div class="modal-body">
									<div class="form-group">
										{{ form_row(form.preciser, {'attr': {'class': 'form-control'}}) }}
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<div class="form-group">
									{{ form_row(form.submit, { 'label': 'valider' }) }}
								</div>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
				<div class="row">
					{% for histo in history%}
						<div
							class="col-lg-4 col-sm-6">
							<!-- <div style="box-shadow: 7px 7px 10px 0px #afafaf,-10px -10px 20px 0px #F0F0F2; background-color: #BDBDBB;"> !-->
							<div class="box-element card card-solid" style="margin: 20px;width: 400px; height:380px">
								<div class="card card-body">
									<h4 style="display: flex;"><img src="{{ asset('build/images/calendrier.png') }}" width="30" height="35">
										:
										<span class="text-uppercase" style="color:#498000;">
											{{ histo.dat|format_date(locale='fr') }}

										</span>
									</h4>
									<p>
										<i class='fas fa-coins' class="admin"></i>
										produits :
										<span style="color:#498000;">{{ histo.product }}</span>
										<br/><br/>
										<i class="far fa-anchor"></i>
										Categorie :
										<span style="color:#498000;">{{ histo.categorie }}</span>
										<br/><br/>
										Action :
										<span style="color:#498000;">{{ histo.types }}</span>
										<br/><br/>
										<u>Nombre :</u>
										<span style="color:#498000;">{{ histo.nombre }}</span>
										<br/><br/>
										Reference :
										<span style="color:#498000;">{{ histo.reference }}</span>
										<br/><br/>
										Destination :
										<span style="color:#498000;">{{ histo.destination }}</span>
										<br/>
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<h1>Page not found 404
			</h1>
			<p>
				The requested page couldn't be located. Checkout for any URL
																																																																																                misspelling or
				<a href="{{ path('app_login') }}">return to the authentification
				</a>.
			</p>
		{% endif %}
	</main>
{% endblock %}
