<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <title>Impression de etat de stock | Paositra malagasy</title>
    </head>
    <body onload="window.print()">
        {# ##################################    Dictionaire de l'annee ##################################################}
        {% set mois = {'01' : 'Janvier','02' : 'Fevrier','03' : 'Mars','04' : 'Avril','05' : 'Mai','06' : 'Juin','07' : 'Juillet','08' : 'Aout', '09' : 'Septembre','10' : 'Octobre','11' : 'Novembre','12' : 'Décembre' } %}
        {##################################################################################################################}
        <div class="container">
            <h3 class="text-danger text-center">Etat de stock general du mois {{ mois[month] }} {{ year }} </h3>
            <div class="table responsive-xxl">
                <table class="table table-bordered table-hover" >
                    <thead>
                        <tr class="table-danger">
                            <th data-sortable="true" data-field="Ordre"> Ordre</th>
                            <th data-field="Categorie"> Produit </th>
                            <th data-field="produit"> Categorie </th>
                            <th data-field="Valeur Faciales">Valeur Faciales</th>
                            <th data-field="Stock initial">Stock initial</th>
                            <th data-field="Entrée">Entrée</th>
                            <th data-field="Sortie">Sortie</th>
                            <th data-field="Sock Actuel">Stock Acteul </th>
                        </tr>
                    </thead>
                    {% set sumValueInit = 0 %}
                    {% set sumValueEnter = 0 %}
                    {% set sumValueOut = 0 %}
                    {% set sumValueCurrent = 0 %}
                    {% set valeur = 0 %}
                    <tbody>
                        {% for key,value in courant %}
                                <tr>
                                {% for key2, value2 in value %} 
                                    
                                    {% if key2 =='ordre' %}
                                        <td> {{ value2 }}  </td>
                                    {% elseif key2 =='NomDeCategorie' %}
                                        <td> {{ value2 }} </td>
                                    {% elseif key2 =='valeurFaciale' %}
                                        <td> {{ value2 }} </td>
                                    {% elseif key2 =='initiale' %}
                                        {% set sumValueInit = sumValueInit + initial[key][0] %}
                                        <td> {{ initial[key][0]|number_format(0,',', ' ') }} </td> 
                                    {% elseif key2 =='entrer' %}
                                        {% set valeur = entrer[key][0] - initial[key][0] %}
                                        {% set sumValueEnter = sumValueEnter + valeur %}
                                        <td> {{ valeur|number_format(0,',', ' ') }} </td> 
                                    {% elseif key2 =='sortie' %}
                                        {% if sort is empty %}
                                            <td> 0 </td> 
                                        {% else %}
                                            {% set valeur = sort[key][0]|abs %}
                                            {% set sumValueOut = sumValueOut + valeur %}
                                            <td> {{ valeur|number_format(0,',', ' ') }} </td>
                                        {% endif %} 
                                    {% elseif key2 =='actuelle' %}
                                        {% set sumValueCurrent =  sumValueCurrent + value2 %}
                                        <td> {{ value2|number_format(0,',', ' ') }} </td>  
                                    {% elseif key2 =='produit' %}
                                        <td> {{ value2 }} </td>                                                                                                                   
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            {% set valeur = 0 %}
                            <th colspan="4" class="text-right pr-3"> Total (nombre)</th>
                            {% for key, value in total %}
                                        {% if key == "initiale"  %}
                                            {% set valeur = sumValueInit %}
                                            <th id="sumInit">  {{ valeur|number_format(0,',', ' ') }} </th>
                                        {% elseif key == "entrer" %}
                                            <th id="sumEnter"> {{ sumValueEnter|number_format(0,',', ' ') }} </th>
                                        {% elseif key == "sortie"%} 
                                            <th>{{ sumValueOut|number_format(0,',', ' ') }} </th>
                                        {% elseif key == "actuelle" %}                                                                            
                                            <th> {{ sumValueCurrent|number_format(0,',', ' ') }} </th>
                                        {% endif %}
                            {% endfor %}
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">
                    <p> Antananarivo le ,{{ 'now' |format_date(locale='fr') }} </p>
                    <p><span> Chef de  Centre d'Approvisionnement en Valeurs Postales </span></p>
                </div>
            </div>
        </div>
         {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}    
    </body>
</html>