{% extends 'base.html.twig' %}
{% block title %}Création de nouvelle opération{% endblock %}
{% block head_page %}Création de nouvelle opération{% endblock %}

{% block main %}
    <div class="q-container">
        <div class="row">
            <div class="col">
                <span class="head"> {% block titre %} Création de nouvelle opération {% endblock %}</span>
                <p id="user"> {{ app.user.id }}  </p>
                <div>
                    <div>
                        <p class="alert alert-danger text-center" role="alert" id="stock_actuelle"> </p>
                    </div>
                    <span style="display: none;" id="numero_sortie_max">
                        {{ numero_max }}
                    </span>
                    {{ form_start(form) }}
                        <div class="row">
                            <div id="type" class="col-4">
                            {{ form_row(form.types) }}
                            </div>

                            <div class="col-4" id="descriptions">
                            {{ form_row(form.descriptions) }}
                            </div>

                            <div class="col-4">
                            {{ form_row(form.Agence) }}
                            </div>

                            <div class="col-4">
                            {{ form_row(form.produit, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="col-4">
                            {{ form_row(form.Categorie) }}
                            </div>

                            <div class="col-4" id="dateEntrer">
                            {{ form_row(form.dateEntrer) }}
                            </div>

                            <div class="col-4" id="utilisateur">
                            {{ form_row(form.User) }}
                            </div>

                            <div id="quantite" class="col-4">
                            {{ form_row(form.quantite) }}
                            </div>

                            <div id="numbre_planche" class="col-4">
                                {{ form_row(form.number_planche) }}
                            </div>

                            <div class="col-4" id="references">
                            {{ form_row(form.reference) }}
                            </div>

                            <div id="numero" class="col-4 disabled">
                                {{ form_row(form.number_sortie) }}
                            </div>

                            <div id="number_out" class="col-4">
                                {{ form_row(form.number_out) }}
                            </div>
                            <div id="bouton" class="col-4 mt-4">
                                <button type="button" id="button_generate" class="btn btn-primary btn-sm">modifier le numero de sortie</button> 
                            </div>
                            
                            <div class="text-center mt-4">
                                    {{ form_row(form.submit, { 'label': 'Valider','attr': {'class': 'btn btn-primary'} }) }}
                            </div>
                        </div>
                    {{ form_end(form) }}</p>
                </div>
                {% if isSubmit  %}
                <form action="{{path('app_operation_new')}}">
                        <table class="table">
                            <tr>
                                <th>Produits</th>
                                <th>Categorie</th>
                                <th>Destination/References</th>
                                <th>Quantite</th>
                                <th>Numero de sortie</th>
                                <th>Date d'operation</th>
                                <th>Types</th>
                            </tr>
                            {% for value in moov %}
                                <tr>
                                    <td> 
                                        {{ value.product }} 
                                    </td>
                                    <td> 
                                        {{ value.categorie }} 
                                    </td>
                                    <td> 
                                        {{ value.destination }} 
                                    </td>
                                    <td> 
                                        {{ value.nombre|abs }} 
                                    </td>
                                    <td> 
                                        {{ value.numero }} 
                                    </td>

                                    <td> 
                                        {{ value.date_op|format_date(locale='fr') }} 
                                    </td>
                                    <td> 
                                        {{ value.types }} 
                                    </td>

                                    <td class="actions actions-as-dropdown">

                                        <div class="dropdown user-menu-wrapper">
                                            <a  class="user-details" type="button" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
                                                </svg>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                                <li class="dropdown-user-details"> 
                                                    <a href="{{ path('mouvement_controller_crud_show', {'id': value.id}) }}" class="dropdown-item action-edit">Detail</a>
                                                </li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li>
                                                    <a href="{{ path('mouvement_controller_crud_edit', {'id': value.id}) }}" class="dropdown-item action-edit">Modifier</a> 
                                                </li>
                                                <li><hr class="dropdown-divider"></li>
                                                    <li>
                                                    <form method="post" action="{{ path('mouvement_controller_crud_delete', {'id': value.id}) }}" onsubmit="return confirm('Vous etes sur pour supprimer le categorie : {{ value.categorie }}');">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ value.id) }}">
                                                        <button class="btn btn-ligth btn-sm">Supprimer </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="text-center mt-4">
                            <input type="submit" value="Créer operation" class="btn btn-primary btn-sm"/>
                        </div>
                    </form>
                {% else %}
                </br>
                {% endif %}
                <a href="{{ path('app_operation_list') }}" class="btn btn-primaary btn-sm"><i class="fa fa-list"></i> Afficher la liste</a>
            </div>
        </div>
    </div>
{% endblock %}