<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Centre d'Approvisionnement en Valeurs Postales (CAVP) | Paositra malagasy!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand titre" href="{{ path('homepage', {'source':'page d\'acceuil de CAVP'}) }}">CAVP Paositra Malagasy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    {% if app.user %}
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('admin', {'source':'administrateur'}) }}">Administrateur</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('Product_dispo', {'source':'produits disponible'}) }}">Produits Dispo</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('etat_de_stock', {'source':'etat de stock'}) }}">Etat de Stock</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('order_out', {'source':'ordre de sortie'}) }}">Ordre de sortie</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{{ path('history', {'source':'compte rendu '}) }}">Compte Rendu</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <a href="{{ path('app_logout', {'source':'deconnecter'}) }}" class="btn btn-outline-danger">Logout</a>
                        </div>
                    {% else %}
                        <div class="d-flex">
                        <a href="{{ path('app_login', {'source':' connecter '}) }}" class="btn btn-outline-danger">Login</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            </nav>
        </div>

    {% block body %}{% endblock %}

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a>
    </p>
    <p>&copy; Copyright <span style="color:#498000;">{{ 'now' | date('Y') }}</span> Paositra Malagasy <i style="color:#e3151a;" class="fa-thin fa-barcode"></i>
        <a href="paositramada.mg/cavp"> Paositramalagasy CAVP </a></p>
  </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>