{% extends 'base.html.twig' %}

{% block title %}Recaputilation generales | Paositra Malagasy
{% endblock %}

{% block body %}
    {# ##################################    Dictionaire de l'annee ##################################################}
   {% set mois = {'01' : 'Janvier','02' : 'Fevrier','03' : 'Mars','04' : 'Avril','05' : 'Mai','06' : 'Juin','07' : 'Juillet','08' : 'Aout', '09' : 'Septembre','10' : 'Octobre','11' : 'Novembre','12' : 'Décembre' } %}


    {##################################################################################################################}
	<main>
		{% if app.user %}
			<h2 class="fw-bolder text-center">Rapport général</h2>
			<form action="{{ path('Product_dispo') }}">
				<label for="ldate">Preciser le mois et annee:</label>
				<input type="month" id="ldate" name="ldate">
				<input type="submit" value="Submit">
			</form> 
			<ul class="nav nav-tabs">
				<li class="nav-items"><a class="nav-link active" data-bs-toggle="tab" href="#recaputilation">Recaputilation generales</a></li>
				<li class="nav-items"><a class="nav-link" data-bs-toggle="tab" href="#situation">Situation generales </a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="recaputilation">
					<div class="row">
						<div class="col">
							<div class="table responsive-xxl">
								<h4 class="fw-bold">Récapitulation Générale de la situation des stocks des Valeurs Postales, Mois du {{ mois[month] }} - {{ year }}</h4>
								<table class="table" id="recap">
									<thead>
										<tr>
											<th>
												OBJETS
											</th>
											<th>
												ABBREVIATIONS
											</th>
											<th>
												NOMBRES
											</th>
											<th>
												VALEURS
											</th>
										</tr>
									</thead>
									<tbody>
										{% set sumValue = 0 %}
										{% set sumNumber = 0 %}
										{% for index in product %}
											<tr>
												<td>
													{{ index.objet }}
												</td>
												<td>
													{{ index.abbr }}
												</td>
												<td>
													{{ index.nombre }}
												</td>
												<td>
													{{ index.valeur }}
												</td>
												{% set sumNumber = sumNumber + index.nombre %}
												{% set sumValue = sumValue + index.valeur %}
											</tr>
										{% endfor %}
									</tbody>
									<tfoot>
										<tr>
											<th colspan="2" class="text-right pr-3">
												Totaux(Valeur)
											</th>
											<th>
												{{ sumNumber }}
											</th>
											<th id="somme_recap_dispo">
												{{ sumValue }}
											</th>
										</tr>
									</tfoot>
								</table>
								 <div>
									<p>Arreté a la valeur de : <span class="text-uppercase" id="nombreRecap"> </span> ARIARY<p>
								</div>
								<div class="d-flex flex-row-reverse bd-highlight">
									<div class="p-2 bd-highlight">
										<p>
											Antananarivo le ,{{ 'now' |format_date(locale='fr') }}
										</p>
										<p>
											<span>
												Chef de  Centre d'Approvisionnement en Valeurs Postales
											</span>
										</p>
										<p> <a href="{{ path('impression_produit_disponible',{mois: month,annee: year }) }}" target="_blank" class="btn btn-outline-danger">Imprimer</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="situation">
					<div class="row">
						<div class="col">
							<div class="table responsive-xxl">
								<h4 class="fw-bold">Situation Générale de la situation des stocks des Valeurs Postales, Mois du {{ mois[month] }}  {{ year }}</h4>
								<table class="table" id="myTable">
									<thead>
										<tr>
											<th>Produits
											</th>
											<th>Quantité de stock initial
											</th>
											<th>Valeur de stock initial
											</th>
											<th>Produits recus quantité
											</th>
											<th>Produits recus valeur
											</th>
											<th>Produits sortie quantité
											</th>
											<th>Produits sortie valeur
											</th>
											<th>Stock final quantité
											</th>
											<th>Stock final valeur
											</th>
										</tr>
									</thead>
									<tbody>
									{% set sumQuantInt = 0 %}
									{% set sumValueInit = 0 %}
									{% set sumQuantEntrer = 0 %}
									{% set sumQuantCurrent = 0 %}
									{% set sumActuel = 0 %}
									{% set sumQuantSortie = 0 %}
									{% set sumValSortie = 0 %}
									{% set sumValRRecus = 0 %}
										{% for key,value in courant %}
											<tr>
												{% for key2, value2 in value %}             
													{% if key2 =='nomProduit' %}
														<td> {{ value2 }} </td> 
													{% elseif key2 =='quantite_init' %}
														{% set valeur = initial[key][0] %}
														{% set sumQuantInt = sumQuantInt + valeur %} 
														<td> {{ valeur }} </td> 
													{% elseif key2 =='valeur_init' %}
														{% set valeur = init[key]['prix_net'] %}
														{% set sumValueInit = sumValueInit + valeur %} 
														<td> {{ valeur }} </td> 
													{% elseif key2 =='qunad_recus' %}
														{% set valeur = quantiteEntrer[key][0] %}
														{% set sumQuantEntrer = sumQuantEntrer + valeur %} 
														<td> {{ valeur }} </td> 
													{% elseif key2 =='val_recus' %}
														{% set valeur = valeurEntrer[key][0] %}
														{% set sumValRRecus = sumValRRecus + valeur %}
														<td> {{ valeur }} </td> 
													{% elseif key2 =='quantite_sortie' %}
														{% set valeur = quantiteOut[key][0]|abs %}
														{% set sumQuantSortie = sumQuantSortie + valeur %} 
														<td> {{ valeur }} </td> 
													{% elseif key2 =='val_sortie' %}
														{% set valeur = valueOut[key][0]|abs %}
														{% set sumValSortie = sumValSortie + valeur %} 
														<td> {{ valeur }} </td> 
													{% elseif key2 =='quantite_actuelle' %}
														{% set valeur = courant[key]['quantite_actuelle'] %}
														{% set sumQuantCurrent = sumQuantCurrent + valeur %} 
														<td> {{ valeur }} </td>
													{% elseif key2 =='value_actuelle' %}
														{% set valeur = courant[key]['prix_net'] %}
														{% set sumActuel = sumActuel + valeur %} 
														<td> {{ valeur }} </td>
													{% endif %}
												{% endfor %}
											</tr>
										{% endfor %}
										<tfoot>
											<tr>
												<th>
													Totales(Valeur)
												</th>
												<th>
													{{ sumQuantInt }}
												</th>
												<th id="sumValueInit">
													{{ sumValueInit }}
												</th>
												<th>
													{{ sumQuantEntrer }}
												</th>
												<th id="sumValRecus">
													{{ sumValRRecus }}
												</th>
												<th>
													{{ sumQuantSortie|abs }}
												</th>
												<th id="sumValSortie">
													{{ sumValSortie }}
												</th>
												<th>
													{{ sumQuantCurrent }}
												</th>
												<th id="sumValueCurrent">
													{{ sumActuel }}
												</th>
											</tr>
										</tfoot>
									</tbody>
								</table>
							</div>
							<div>
								<p>Arreté a la valeur initial de : <span class="text-uppercase" id="sitInitial"> </span> ARIARY<p>
								<p>Arreté a la valeur entrée de : <span class="text-uppercase" id="sitEntrer"> </span> ARIARY<p>
								<p>Arreté a la valeur Sortie de : <span class="text-uppercase" id="sitSortie"> </span> ARIARY<p>
								<p>Arreté a la valeur actuelle de : <span class="text-uppercase" id="sitActuel"> </span> ARIARY<p>
							</div>
							<div class="d-flex flex-row-reverse bd-highlight">
								<div class="p-2 bd-highlight">
									<p>
										Antananarivo le ,{{ 'now' |format_date(locale='fr') }}
									</p>
									<p>
										<span>
											Chef de  Centre d'Approvisionnement en Valeurs Postales
										</span>
									</p>
									<p> <a href="{{ path('situation',{mois: month,annee: year }) }}" target="_blank" class="btn btn-outline-danger" >Imprimer</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<h1>Page not found 404
			</h1>
			<p>
				The requested page couldn't be located. Checkout for any URL misspelling or
				<a href="{{ path('app_login') }}">return to the authentification
				</a>.
			</p>
		{% endif %}
	</main>
{% endblock %}
							