<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title> Recaputilation generales | Paositra Malagasy</title>
</head>
<body>
    <h4 id="repartitions">Recaputilation generale de situation de stock de valeurs Postaux </h4>
    <div class="table responsive-xxl">
        <table width="100%" style="border-collapse:collapse;" border="1">
            <thead>
                <tr>
                    <th>OBJETS </th>
                    <th>ABBREVIATIONS </th>
                    <th>NOMBRES </th>
                    <th>VALEURS </th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in product %}
                    <tr>
                        {% for key2, value2 in value %}
                            {% if key2 == 'objet' %}
                                <td> {{ value2 }}</td>
                            {% elseif key2 == 'nombre' %}
                                <td> {{ value2 }}</td>
                            {% elseif key2 == 'abbr' %}
                                <td> {{ value2 }}</td> 
                            {% elseif key2 == 'valeur' %}
                                <td> {{ value2 }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
    <p> Antananarivo le ,{{ 'now' |format_date(locale='fr') }}<br>
        <span style="margin-top1: 25px;"> Chef de  Centre d'Approvisionnement en Valeurs Postales </span><br />
        <span style="margin-top1: 25px;">{{ app.user.nom }}</span>
     </p>
</body>
</html>