{% extends 'base.html.twig' %}

{% block title %}Etat de stock | Paositra malagasy! {% endblock %}
{% block body %}
    {# ##################################    Dictionaire de l'annee ##################################################}
     {% set mois = {'01' : 'Janvier','02' : 'Fevrier','03' : 'Mars','04' : 'Avril','05' : 'Mai','06' : 'Juin','07' : 'Juillet','08' : 'Aout', '09' : 'Septembre','10' : 'Octobre','11' : 'Novembre','12' : 'Décembre' } %}
    {##################################################################################################################}

    <main>
        {% if app.user %}
            <div class="row" >
                <div class="col-12">
                    <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                        <div class="q-container p-4">
                            <div class="row">
                                <div class="col">
                                    <h2 class="fw-normal text-danger text-center"> Etat de stocks: <span style="color:#498000;"> {{ mois[month] }} {{ year }}</span></h2>
                                    <div class="q-display p-3">
                                        <span class="btn btn-danger btn-sm disabled">Selectionner les : </span>
                                        <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#myModal"> Produits</button>
                                        <div class="modal" id="myModal">
                                            {{ form_start(form) }}
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"> Nom de produit </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                    </div>
                                                    {{ form_start(form) }}
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="select">Nom de produit</label>
                                                            {{ form_widget(form.select, {'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                            <div class="form-group">
                                                                {{ form_row(form.submit, { 'label': 'Selectionner' }) }}
                                                            </div>
                                                    </div>
                                                    {{ form_end(form) }}
                                                </div>
                                            </div>
                                        </div>
                                        <!--*****************************************************************************************************-->
                                        <form action="{{ path('etat_de_stock') }}" class="float-end">
                                            <label for="ldate">Preciser le mois :</label>
                                            <input type="month" id="ldate" name="ldate">
                                            <input type="submit" value="Trier" class="btn btn-danger btn-sm"/>
                                        </form>
                                                
                                        {% if issubmitted == true %}
                                            <h4 class="text-danger"><label for="cars">Nom du produits :<em>  {{ init.0.Produits }}</em></h4>
                                        {% endif %}
                                        <!-- **********************************************************************************-->
                                    </div>
                                    <div class="d-flex flex-row-reverse bd-highlight">
                                        <div class="p-2 bd-highlight">
                                            <input id="search" type="text"  placeholder="Recherche..."> 
                                        </div>
                                    </div>
                                    <form action="{{ path('etat_de_stock') }}" class="mb-3">
                                        <label for="year">Année  :</label>
                                            <select name="year" id="year">
                                                {% set value = 2000 %}
                                            {% for i in -30..100 %}
                                                <option value="{{ value + i}}">{{ value + i }}</option>
                                            {% endfor %}
                                            </select>
                                        <input type="submit" value="Trier" class="btn btn-danger btn-sm">
                                    </form> 

                                    <div class="table responsive-xxl">
                                        <table class="table table-striped table-bordered table-hover" id="myTableEtat" >
                                            <thead>
                                                <tr class="table-danger">
                                                    <th data-sortable="true" data-field="Ordre"> Ordre</th>
                                                    {% if issubmitted == false %}
                                                        <th data-field="Categorie"> Produit </th>
                                                    {% endif %}
                                                    <th data-field="produit"> Categorie </th>
                                                    <th data-field="Valeur Faciales">Valeur Faciales</th>
                                                    <th data-field="Stock initial">Stock initial</th>
                                                    <th data-field="Entrée">Entrée</th>
                                                    <th data-field="Sortie">Sortie</th>
                                                    <th data-field="Sock Actuel">Stock Acteul </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody id="table">
                                            {% set sumValueInit = 0 %}
                                            {% set sumValueEnter = 0 %}
                                            {% set sumValueOut = 0 %}
                                            {% set sumValueCurrent = 0 %}
                                            {% set valeur = 0 %}
                                                {% for key,value in courant %}
                                                    <tr>
                                                        {% for key2, value2 in value %} 
                                                            
                                                            {% if key2 =='ordre' %}
                                                                <td> {{ value2 }}  </td>
                                                            {% elseif key2 =='NomDeCategorie' %}
                                                                <td> {{ value2 }} </td>  
                                                            {% elseif key2 =='produit' %}
                                                                <td> {{ value2 }} </td>
                                                            {% elseif key2 =='valeurFaciale' %}
                                                                <td> {{ value2 }} </td>
                                                            {% elseif key2 =='initiale' %}
                                                                {% set valeur = initial[key][0] %}
                                                                <td> {{ valeur }} </td>
                                                                {% set sumValueInit = sumValueInit + valeur %} 
                                                            {% elseif key2 =='entrer' %}
                                                                {% set valeur = entree[key][0] - initial[key][0] %}
                                                                <td> {{ valeur }} </td> 
                                                                {% set sumValueEnter = sumValueEnter + valeur %}
                                                            {% elseif key2 =='sortie' %}
                                                                {% if out is empty %}
                                                                    {% set valeur = 0 %}
                                                                    <td> {{ valeur }} </td> 
                                                                    {% set sumValueOut = sumValueOut + valeur %}
                                                                {% else %}
                                                                    {% set valeur = out[key][0]|abs %}
                                                                    {% set sumValueOut = sumValueOut + valeur %}
                                                                    <td> {{ valeur }} </td>
                                                                {% endif %} 
                                                            {% elseif key2 =='actuelle' %}
                                                                {% set valeur = value2 %}
                                                                {% set sumValueCurrent = sumValueCurrent + valeur %}
                                                                <td> {{ valeur }} </td>                                                                                                                   
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                    <tr>
                                                        {% set valeur = 0 %}
                                                        {% if issubmitted == true %}
                                                            <th colspan="3" class="text-right pr-3"> Total (nombre)</th>
                                                        {% else %}
                                                        <th colspan="4" class="text-right pr-3"> Total (nombre)</th>
                                                        {% endif %}
                                                        {% for key, value in total %}
                                                                    {% if key == "initiale"  %}
                                                                        {% set valeur = sumValueInit %}
                                                                        <th id="sumInit">  {{ valeur }} </th>
                                                                    {% elseif key == "entrer" %}
                                                                        <th id="sumEnter"> {{ sumValueEnter }} </th>
                                                                    {% elseif key == "sortie"%} 
                                                                        <th>{{ sumValueOut }} </th>
                                                                    {% elseif key == "actuelle" %}                                                                            
                                                                        <th> {{ sumValueCurrent }} </th>
                                                                    {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="d-flex flex-row-reverse bd-highlight">
                                        <div class="p-2 bd-highlight">
                                            <p> Antananarivo le ,{{ 'now' |format_date(locale='fr') }} </p>
                                            <p><span> Chef de  Centre d'Approvisionnement en Valeurs Postales </span></p>
                                            
                                            {% if issubmitted == false %}
                                                <p> <a href="{{ path('impression_product',{mois: month,annee: year}) }}" target="_blank" style="color: #fff; text-decoration:none;"><button class="btn btn-outline-danger" >Imprimer</button></a></p>
                                            {% else %}
                                                <p> <a href="{{ path('impression_select',{id: init.0.id,mois: month,annee: year}) }}" target="_blank" style="color: #fff; text-decoration:none;"><button class="btn btn-outline-danger" >Imprimer ce fichier</button></a></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>Page not found 404 </h1>
            <p>
                The requested page couldn't be located. Checkout for any URL
                misspelling or <a href="{{ path('homepage') }}">return to the authentification </a>.
            </p>
        {% endif %}
    </main>
{% endblock %}

