{% extends 'base.html.twig' %}

{% block title %}Ordre de sortie | Paositra Malagasy{% endblock %}

{% block body %}
    <main>
        {% if app.user %}
            <h2 class="fw-bolder text-center">Ordre de sortie de CAVP</h2>
             {% set types_order = ['PN','FP']  %}
            <div id="typesNum" class="btn btn-danger btn-sm">preciser le types et numero </div>
                <div id="panel1">
                    {{ form_start(form) }}
                        <div class="form-group">
                                <label for="select">Types de sortie :</label>
                                {{ form_widget(form.types, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                                {{ form_widget(form.numero, {'attr': {'class': 'form-control'}}) }}
                        </div>
                            <div class="form-group">
                            {{ form_row(form.submit, { 'label': 'valider','attr': {'class': 'btn btn-danger btn-sm'}}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <!-- Formuliare de numero de sortie -->
            <!-- =========================================================================================================================================== --> 
             <ul class="nav nav-tabs">
                <li class="nav-items"><a class="nav-link active" data-bs-toggle="tab" href="#recapitulation"> Récapitulation</a></li>
                <li class="nav-items"><a class="nav-link"  data-bs-toggle="tab" href="#repartitions"> Etat de répartition de valeurs</a></li>
                <li class="nav-items"><a class="nav-link"  data-bs-toggle="tab" href="#bordereau"> Bordereaux D'envoi</a></li>
            </ul>

            <div class="tab-content">
                  <!-- Récapitulation -->
                <div class="tab-pane active" id="recapitulation">
                    <div class="row border g-0 rounded shadow-sm">
                        <div class="col p-4">
                            <h4 class="h4">Récapitulation N° {{ numero }}--{{ types_order[types - 1]}} </h4>
                            
                            <div class="table responsive-xxl">
                                <table class="table table-bordered table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Categorie </th>
                                            <th>Valeur Faciales </th>
                                            <th>TP/PL </th>
                                            <th>Planche </th>
                                            <th>TP </th>
                                            <th>Montant </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set somme = 0 %}
                                        {% set bureau = 0 %}
                                        {% for pro in dispo %}
                                            <tr>
                                                <td> {{ pro.categorie }}</td> 
                                                <td>{{ pro.vf }}</td>
                                                <td>{{ pro.tpParPl }}</td>
                                                <td>{{ pro.quantite|abs}}</td>
                                                <td>{{ pro.tpParPl * pro.quantite|abs }}</td>
                                                {% if pro.vf == 0 or pro.vf is null  %}
                                                    {% set  prix = pro.tpParPl * pro.quantite|abs * 1 %}
                                                    <td>{{ prix }}</td>
                                                {% else %}
                                                    {% set  prix = pro.tpParPl * pro.quantite|abs * pro.vf %}
                                                    <td>{{ pro.tpParPl * pro.quantite|abs * pro.vf }}</td>
                                                {% endif %}
                                                {% set somme = somme + prix %}
                                                {% set bureau = bureau + 1 %}
                                            </tr>
                                        {% endfor %}
                                        <tr>
                                            <th colspan="5">Total : </th>
                                            <td id="somme">  {{ somme }} </td>
                                        </tr>
                                    <tbody>
                                </table>
                               <p> {{ bureau }}  observations  </p>
                            </div>
                            <div>
                                <p>Arreté a la valeur initial de : <span class="text-uppercase" id="nombre"> </span> ARIARY<p>
                            </div>
                            <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="p-2 bd-highlight">
                                    <p> Antananarivo le ,{{ 'now' |format_date(locale='fr') }}</p>
                                    <p><span style="margin-top1: 25px;"> Chef de  Centre d'Approvisionnement en Valeurs Postales </span></p>
                                    <a href="{{ path('ordre_de_sortie_recaputilation',{types: types,numero: numero_de_sortie }) }}" target="_blank" style=" text-decoration:none;" class="btn btn-outline-danger">Imprimer</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Repartitions -->
                <div class="tab-pane" id="repartitions">
                    <div class="row border g-0 rounded shadow-sm">
                        <div class="col p-4">
                           <h4 class="h4">Etat de repartition de Valeurs N° {{ numero }} -- {{ types_order[types - 1]}} </h4>
                           <div class="table responsive-xxl">
                                <table class="table table-bordered table-hover" >
                                    <thead>
                                        <tr>
                                            <th>Ordre</th>
                                            <th>Valeur Faciales </th>
                                             {% for pro in dispo %}
                                                    <th> {{ pro.nombre_cat|abs }}</th>
                                            {% endfor %}
                                            <th>total par bureau </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key,value in dispo %}
                                                <tr>
                                                {% for key1,value1 in value %}
                                                    {% if key1 == 'ordre' %}
                                                        <td> {{ value1 }}</td>
                                                    {% elseif key1 == 'vf' %}
                                                        <td>{{ value1 }}</td>
                                                    {% elseif key1 == 'nombre_cat' %}
                                                        {% for pro in dispo  %}
                                                            {% if pro.nombre_cat|abs == value1|abs %}
                                                                <td> {{ pro.nombre_agence }}</td>
                                                            {% else %}
                                                                <td> 0</td>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% elseif key1 == 'nombre_agence' %}
                                                        <td>{{ value1 }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                </tr>
                                        {% endfor %}
                                    <tbody>
                                </table>
                            </div>
                            <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="p-2 bd-highlight">
                                    <br/><br/>
                                    <p> Antananarivo le ,{{ 'now' |format_date(locale='fr') }}</p>
                                    <p><span style="margin-top1: 25px;"> Chef de  Centre d'Approvisionnement en Valeurs Postales </span></p>
                                    <a href="{{ path('ordre_de_sortie_repartition',{types: types,numero: numero_de_sortie }) }}" target="_blank" style=" text-decoration:none;" class="btn btn-outline-danger">Imprimer</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- Bordereaux -->
                 <div class="tab-pane" id="bordereau">
                    <div class="row border g-0 rounded shadow-sm">
                        <div class="col p-4">
                            <h4 class="h4">Bordéreau d'envoi N° {{ numero }} --{{ types_order[types - 1]}} </h4>
                            <div class="table responsive-xxl">
                                <table  class="table table-bordered table-hover">
                                    {% set bureau = 0 %}
                                    {% for pro in dispo %}
                                    <tr>
                                        <td>{{ pro.bureau }}</td>
                                        <td><a href="{{ path('bordereau',{type: types,numero: pro.numeroSortie, bureau: pro.idBureau }) }}" target="_blank"> <i class='fa fa-info-circle' id="info"> info</i></a></td>
                                        {% set bureau = bureau + 1 %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <p class="fw-bolder"> {{ bureau }} Bureau(x), pour chaque papier à imprimer</p>
                        </div>
                    </div>
                </div>

            </div>
        {% else %}
            <h1>Page not found 404 </h1>
            <p>
                The requested page couldn't be located. Checkout for any URL
                misspelling or <a href="{{ path('homepage') }}">return to the authentification </a>.
            </p>
        {% endif %}    
    </main>
{% endblock %}
